:root {
  --link-color: #ffffff;
  --social-link-color: #434455;
  --link-color_hover: #2e2f42;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

* {
  font-family: var(--text-font-family);
}
.global-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  width: 1440px;
  border: 0px, 0px, 1px, 0px;
  gap: 30;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 261px;
  height: 24px;
}

.webstudio .png .web {
  text-color: #4d5ae5;
}

.webstudio .png .studio {
  text-color: #2e2f42;
}

.global-header a.hover {
  color: var=(--link-color_hover);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container-topline {
  width: 1440px;
  height: 72px;
  border: 1px;
}

.container-menu {
  font-family: "Roboto", sans-serif;
  width: 261;
  height: 24px;
  top: 24px;
  left: 347px;
  gap: 40px;
  display: flex;
  align-items: left;
}

.container-info .reversed {
  flex-direction: row-reverse;
  margin-top: 20px;
}

.container-info .reversed {
  width: 153px;
  height: 24px;
  top: 24px;
  left: 940px;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: right;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-title {
  background-color: var(--link-color_hover);
  font-family: "Roboto", sans-serif;
  width: 1440px;
  height: 600px;
  top: 72px;
}

.button-service {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  border-radius: 4px;
  color: var(--link-color);
  width: 169px;
  height: 56px;
  top: 428px;
  padding: 16px, 32px, 16px, 32px;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-service {
  position: absolute;
  left: 650px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-section1 {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 104px;
  top: 792px;
  left: 156px;
}

.container-section2 {
  width: 1200px;
  height: 412px;
  top: 1016px;
  left: 156px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-section2 {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  width: 323px;
  height: 40px;
  top: 1016px;
  left: 559px;
  filter: 2%;
}

.title-section2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-section3 {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 30px;
  justify-content: centr;
  align-items: center;
  width: 1440px;
  height: 732px;
  top: 1548px;
  background: #f4f4fd;
}

.title-section3 {
  font-family: "Roboto", sans-serif;
  width: 162px;
  height: 40px;
  top: 1668px;
  left: 639px;
  text-align: center;
  color: #2e2f42;
}

.title-section3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:after {
  content: "STUDIO";
  color: #2e2f42;
}

.footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
  top: 2420px;
  left: 156px;
}

.global-footer .footer-title {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
  top: 2280;
  justify-content: center;
}

.logo-footer:after {
  content: "STUDIO";
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  width: 71px;
  height: 21px;
}
